

*{
    box-sizing: border-box;
margin: 0;
padding: 0 ;
 
}

.caja-1{
    padding-left: 20PX;
    padding-top: 20px;
    padding-right: 20px;
    border: 10px solid black;
    width: 200PX;
    height: 200px;
    background-color: red;
    text-align: center;
    color: black;
    margin-left: 200px;
}

.caja-2{
    width: 200px;
    height: 200px ;
    background-color: blue;
    display: inline-block;
}

.button-1{
    width:200px;
}