*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
}

.contact-button{
    position: fixed;
    right: 48px;
    bottom:48px ;
    background-color: black;
    border: none;
    box-shadow: 0 0 5px black;
    color: white;
    padding: 8px 16px;
}

.back-button{
    position: fixed;
    right: 48px;
    bottom:48px ;
    background-color: black;
    border: none;
    box-shadow: 0 0 5px black;
    color: white;
    padding: 8px 16px;
}


