            /* 
Cascading style sheet = CSS = Hoja de estilos en cascada
*/
/* 
La dificultad de css radica en conocer las propiedades
*/

/* Esta es la hoja de estilos donde vamos a centralizar los estilos de nuestra paginas */

/* Codigo CSS */
/* 
        Selectores: Nos permiten seleccionar a grupos de elementos de nuestro HTML
        Las llaves indican el bloque de propiedades asignadas al selector
        Propiedades: Conjunto clave valor de definiciones de estilos
        */


/* 
Selector de elementos
Aplica un estilos sobre TODOS los h1 de pagina
*/
            
        
            
            
            h1{
                font-size: 48;
                text-align: center;
            }
            /* Titulo es un estilo que se aplicara sobre todos los elementos cuyo nombre de clase sea 'titulo' */
/* 
Selector de clases 
*/
            .titulo{
                color: rgb(255, 6, 6);
            background-color: rgb(100, 97, 97);
            font-size: 16;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            }  
/* 
Selector de elementos
*/
            .titulo-2{
                color: black;
                background-color: aqua;
            }
        
            h2{
                color: yellow;
                background-color: aqua;
                font-size: 29px;
                }

            h3{
                color: aqua;
                background-color: blue;
            }
            /* 
Especificidad
No todos los selectores son igual de especificos
El selector de clase es mas especifico que el selector de elementos
EJEMPLO:
    Todos los h1 tienen color rojo
    Los elementos con la clase 'titulo' tienen color azul
Por ende el selector de clase va a tapar siempre al selector de elementos
La especificidad tiene prioridad sobre la cascada
*/
            .boton0-especial{
                background-color: rgb(197, 130, 29);

            }
            button{
                background-color: brown;
                font-size: 32px;
            }
