


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



*{font-family: "Poppins", sans-serif; ;}


h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 46px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: underline dashed rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 0px 3px black;
}
p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    word-spacing: 1px;
    text-align: justify;
    font-style: oblique;
    border: 1px solid black;
    border-top-right-radius: 5px;
}

ul{list-style-type: lower-alpha;}

ol{list-style-type:lower-greek;}

.caja{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px black;
}