@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-gradient:linear-gradient(267deg,#7b88ff -69.8%, #673de6);
}

:root{
--bg-color: #110c29;
--primary-color: #7050f2;
--font-family:var(--font-family); 
}

.kpi-section{
    background-color: var(--bg-color );
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.kpi-section__content{
    display: flex;
    flex-direction: row;
    gap: 7px;
    width: 1200px;
    padding: 120px 0px;
}


.kpi-card{
    color: rgb(255, 255, 255);
    flex: 1;
    background-color: var(--primary-color);
    height: 248px;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    background: var(--primary-gradient) ;

}

.kpi-card__value{
    font-size: 80px;
    font-weight: 400;
}
